.owl-stage {
  transform: translate3d(-1110px, 0px, 0px);
  transition: all 0s ease 0s;
  width: 3700px;
}
.cloned{
    width: 370px; margin-right: 0px;
}


.col{
  margin: 0 auto;
  .card{
    margin: 0 20px;
  }
}