
$second-color: #252f5a;
$bg-color: #070b28;
$bg-opaque: rgba(7, 11, 40, 0.7);
$text-color: #a1aed4;
$text-color-opaque: rgba(161, 174, 212,0.7);
$effect-base: #ff344d;
$effect-threshold: #d2273c;
$text-white: #fff;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1200px;