@import '../../styles/variable';
.breadcrumb{
    background-color: $bg-color;
    .bcImg{
        max-width: 65%;
    }
    .row{
        margin: 0 auto;
        width: 100%;
    }
    .col{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
