@import "../../styles/variable";
.winner {
  border: 1px solid #273b71;
  border-radius: 10px;
  padding: 30px 30px 29px;
  font-weight: 600;
  .name,
  .card-info {
    font-size: 24px !important;
  }
  .row {
    display: flex;
  }
  .top-area,
  .bot-area {
    display: flex;
    justify-content: space-between;
  }
  .top-area {
    margin-bottom: 6px;
  }
  .left {
  }
  .name {
    color: $text-white;
  }
  .right {
  }
  .bot-area {
    margin-top: 38px;
  }
  .left {
  }
}
