@import '../../styles/variable';
.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    display: none;
    overflow: auto;
    z-index: 99999999999999999999999;
    width: 100%;
    background-color: $bg-opaque;
    .modal__content{
        background-color: $second-color;
    }
    .modal__dialog{
        width: auto;
        background-color: $second-color;
        padding-bottom: 40px;
        max-height: 100%;
        max-width: 600px;
        margin: 1.75rem auto;
        position: relative;
    }
    .modal__logo{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        h1{
            font-size: 40px;
        }
    }
    .modal__body{
        padding: 40px 28px;
    }
    .modal__title,.close, .modal__logo{
        color: $text-white;
        text-align: center;

    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        position: absolute;
        margin-right: 8px;
        margin-left: auto;
        .close-icon{
            font-size: 28px;
            font-weight: 600;

        }
    }
    .modal__sub-title {
        padding-top: 12px;
        color: $text-color-opaque;
        text-align: center;
    }
    .form-group{
        margin-top: 40px;
        margin-bottom: 10px;
    }
    label{
        color: $text-white;
        font-weight: 600;
        margin-bottom: 6px;
    }
    input{
        background: none;
        border: none;
        width: 100%;
        border: 0px;
        height: 50px;
        font-size: 14px;
        color: $text-color;
        background: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 12px;

    }
    .btn, select{
        width: 100%;
    }
    .btn{
        margin-top: 38px;
    }
    select{
        height: 50px;
        border-radius: 30px;
        border: 1px solid $text-color-opaque;
        margin-top: 8px;
    }
    option{
        background-color: $bg-color;
    }
}
.show{
    display: block;
}